body {
	font-family: Arial;
	font-size: 1em;
	padding: 20px;
	margin: 0 auto;
	max-width: 800px;
	background-color: #eee;
}

h1 {
	color: green;
}

article, #button-menu {
	background-color: #fff;
	margin: 20px 0;
	padding: 20px;
}

figure {
	background-color: #eee;
	padding: 10px;
	max-width: 400px;
}

img {
	max-width: 100%;
}

figcaption {
	font-size: .8em;
	background-color: #fff;
	padding: 5px;
}

blockquote {
	background-color: #eee;
	max-width: 50%;
}


footer {
	text-align: center;
	font-size: .8em;
}

/******************************
fun with themes
*******************************/
button {
	padding: 10px;
	margin: 5px;
	font-size: 1em;
	font-weight: 700;
	color: #fff;
}

#greenbutton {
	background-color: #5CD65C;
}

#blue {
	background-color: #3399FF;
}

#surprise {
	background-color: purple;
}

#reset {
	background-color: #777;
}

body.green {
	background-color: #5CD65C;
}

body.blue {
	background-color: #3399FF;
}

body.surprise {
	/*background-image: url('http://thecatapi.com/api/images/get');*/
	background-color: #6C91DA;
}

/******************************
snow!
******************************/
body.surprise {
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	